{% extends "itreporting/base.html" %}

{% block content %}


        <h1>IT Issues Reported</h1>

        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.author.profile }}</a>
                    <small class="text-muted">{{ object.date_subimtted }}</small>
                </div>
                <h2 class="article-title">{{ object.type}} Issue in Room {{object.room}}</h2>
                <p class="article-content">{{ object.details }}</p>
                <div class="mt-3">
                    <a href="{% url 'itreporting:issue-update' pk=object.pk %}" class="btn btn-primary mr-2">Edit</a>
                    <a href="{% url 'itreporting:issue-delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
                </div>

            </div>
        </article>

{% endblock content %}